.titulo-contacto{
    font-weight: bold;
    font-size: 60px;
    padding: 100px 0px 50px 0px;
}

.tituloSeccion5 {
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 60px;
}


input::placeholder {
    color: #888;
    opacity: 1;
    font-size: 15px;
}

.boton-icono{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.boton-contacto{
    width: auto;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 1;
}

.boton-contacto i{
    display: flex;
    font-size: 10px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 190, 101);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}

.boton-contacto i:hover{
    font-size: 10px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 155, 84);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.accordion-button {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #ffd433;
}
.accordion-item {
    border: none;
}
.accordion-button:not(.collapsed) {
    font-size: 20px;
    color: #fff;
    background-color: #ffd433;
    font-weight: 400;
}
.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-body p {
    text-align: initial;
}
.accordion-body img {
    width: 250px;
}
.accordion-body video {
    width: 590px;
    border-radius: 5px;
}
.accordion-body iframe {
    border-radius: 5px;
}


.sectionForm .containerForm {
    width: 80%;
    padding: 20px;
}
.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}
.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #000;
    font-weight: bold;
}
.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #000;
    border-bottom: 1px solid #333;
}


.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
    height: 100%;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
    height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.alertaRoja{
    color: #ff0000;
    font-weight: 500;
    font-size: 18px;
}
.alertaVerde{
    color: #2d572c;
    font-weight: 500;
    font-size: 18px;
}
