body {
    font-size: 22px;
}

p {
    font-size: 22px;
}

.formatos1 {
    color: brown;
}

.inicio {
    border-bottom: 1px solid rgb(143, 50, 50);
}



h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

h4 {
    font-size: 17px;
    letter-spacing: 2px;
}

select {
    width: 100%;
    padding: 3px 20px;
}

.imagen img {
    width: 100%;
}


